main {
  min-height: 80vh;
}

h3 {
  padding: 0.5rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.5rem 0;
}

/* .badge {
  background-color: #008000;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.1rem;
} */

.p1[data-count]:after {
  position: absolute;
  right: 20%;
  top: 3%;
  content: attr(data-count);
  font-size: 1rem;
  padding: 0.3em;
  border-radius: 20%;
  line-height: 1rem;
  color: white;
  background: #008000;
  text-align: center;
  min-width: 1em;
  font-weight: bold;
}

.fa-user {
  min-width: 1em;
  font-weight: bold;
  padding: 1.11rem 0.5rem;
  line-height: 1rem;
}

#username {
  min-width: 1em;
  font-weight: bold;
  padding: 1.9rem 3rem;
  line-height: 1rem;
  text-align: center;
}

#adminmenu {
  min-width: 1em;
  font-weight: bold;
  padding: 1.9rem 0.1rem;
  line-height: 1rem;
  text-align: center;
}
